.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.07);
    min-width: 300px;
    padding: 20px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    border-right: solid 1px #989898;
}