.label {
    display: none;
    width: 12em;
    height: 6em;
}
.btn {
    position: absolute;
    inset-inline-end: 40px;
    inset-block-end: 100px;
    user-select: none;
    background-color: #ffa06c;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #1b6d85;
}