.adminContainer {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 2rem;
}

.content {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: calc(100vh - 150px);
}










.loading {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: #666;
}




